body{
    height: 100vh;
    background: url(../img/background.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.central{
    width: 400px;
    background: rgba(255, 255, 255, 0.185);
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.central input{
    height: 40px;
    border-radius: 12px
}

.central button{
    width: 150px;
    height: 40px;
    border-radius: 12px;
}

.central p{
    background: linear-gradient(rgba(0, 0, 0, 0.212));
    color: white;
    font-size: 30px;
    border-radius: 20px;
}