@font-face {
    font-family: clock;
    src: url(../font/digital-7.ttf);
}

body{
    background: url(../images/2e94e29b-942c-4788-a639-0a33b32089ca.png);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.central{
    width: 550px;
    background: rgba(255, 255, 255, 0.045);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.central div{
    background: black;
    color: red;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.central span{
    font-size: 140px;
    font-family: clock;
}