body{
    background: linear-gradient(black,darkblue,black);
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.central{
    width: 500px;
    background: rgba(255, 255, 255, 0.185);
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.central button{
    width: 150px;
    height: 40px;
    border-radius: 12px;
}