body{
    height: 100vh;
    background: linear-gradient(black, rgb(22, 0, 102), black);
    display: flex;
    align-items: center;
    justify-content: center;

}    

.central input{
    height: 25px;
    width: 600px;
    border-radius: 4px;
   

}

.central {
    padding: 30px;
    background: rgb(176, 221, 250);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    border-radius: 10px;

}

.central button {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 130px;
    height: 30px;
    border-radius: 7px;
    cursor: pointer;

}

.central p{
    font-size: 25px;
    color: rgb(212, 0, 255);
}